{% extends "../layout/layout_secondary.html" %}

{% block buttons %} <a class="nav-item nav-link" href="/w1/weapon/list"><i class="fa-solid fa-gun"></i></a>  <!-- Weapon list --> {% endblock %}

{% block searchbar %}
    <form class="d-flex justify-content w-50" action="/weapon/list" method="POST">{% csrf_token %}  <!-- Search bar -->
        <input class="form-control mr-sm-2" name="searched" type="text" placeholder="Search" aria-label="Search" style="display: inline;">
        <button type="submit" class="btn btn-secondary" style="display: inline;"><i class="fas fa-search"></i></button>
    </form>
{% endblock %}