{% extends "../layout/layout_main.html" %}

{% block title %} Guarson App - Home {% endblock %}

{% block body %}
<div class="row col-6 w-50">
    <a class="nav-item nav-link mt-3" href="/w1">
        <img src="https://preview.redd.it/will-you-still-play-warzone-1-after-the-release-of-warzone-2-v0-4g17uow2agl91.jpg?auto=webp&s=e1dd451e5e9deacefe8ff3663d4afd65051d5370" width="250"/>
    </a>
</div>
<div class="row col-6 w-50">
    <a class="nav-item nav-link mt-3" href="">
        <img src="https://images.alphacoders.com/128/thumb-1920-1289362.jpg" width="250"/>
    </a>
</div>
{% endblock %}